.section {
  margin-bottom: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 425px) {
  .wrapper {
    padding: 0px;
  }
}
