.section {
  padding-top: 64px;
  margin-bottom: 54px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileWrapper {
  position: relative;
  cursor: pointer;
  margin-bottom: 24px;
  width: 88px;
  height: 88px;
  border-radius: 100%;
  border: 5.5px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileWrapper:focus {
  border: 5.5px solid #ebe9fe;
  outline: none;
}
.profileOverlay {
  position: absolute;
  top: 0;
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background-color: rgba(52, 64, 84, 0.75);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.profileOverlay img {
  margin-bottom: 11px;
}

.profileImg {
  width: 89px;
  height: 89px;
  border-radius: 100%;
}

.twitter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
}
.shareButton {
  position: absolute;
  top: -20px;
  right: 240px;
  cursor: pointer;
}
